@model Pandemi.ViewModels.BooksViewModel
@using Pandemi.Models

@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "We Read Many Books!";
}
@{ var user = await UserManager.GetUserAsync(User);}
<h1>@(user.FamilyName) Book List</h1>
<h2>We Read Many Books !</h2>

<p>
    <a asp-action="Create">+ Add a Book</a>
</p>

<table class="table">
    <thead>
        <tr class="table-danger">
            <th>
                Title
            </th>
            <th>
                Notes
            </th>
            <th>
                Author
            </th>
            <th>
                Reader
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr class="table-danger">
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.FamilyMember.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@book.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@book.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Pick a Family Member to just view their books</h3>

<div class="row">
    <div class="col-large-7">
        <p class="bs-component">
            @foreach (var familyMember in Model.FamilyMembers)
            {
                <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '@Url.Action("Individual","Books", new { id=familyMember.ID })'">@familyMember.FirstName</button>
            }
        </p>
    </div>
</div>

