@model IList<Pandemi.Models.JournalEntry>

@{
    ViewData["Title"] = "Family Journal Entries";
}



<h1 class="text-center text-uppercase">@ViewBag.Title</h1>

<p><a asp-controller="JournalEntry" asp-action="Add">Add Entry</a></p>


<table class="table">

    <tr>
        <th>Pic</th>
        <th>Date</th>
        <th>Author</th>
        <th>Entry</th>
    </tr>

    @foreach (var entry in Model)
    {
        <tr>
            <td>
                <img src="~/images/@entry.EntryFile"
                     class="center-block"
                     height="100" width="150"
                     asp-append-version="true" />

            </td>
            <td>@entry.EntryDate.ToShortDateString()</td>
            <td>@entry.FamilyMember.FirstName</td>
            <td>@entry.Entry</td>


            <td>
                <a asp-action="Edit" asp-route-id="@entry.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@entry.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@entry.ID">Delete</a>
            </td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No entries yet!</p>
}

