@model Pandemi.ViewModels.JournalEntriesViewModel

@{
    ViewData["Title"] = "Family Journal Entries";
}



<h1 class="text-center text-uppercase text-primary">@ViewBag.Title</h1>

<p><a asp-controller="JournalEntry" asp-action="Add">+ Add Entry</a></p>


<table class="table">

    <tr class="table-primary">
        <th>Pic</th>
        <th>Date</th>

        <th>Entry</th>
        <th>Author</th>
        <th></th>

    </tr>

    @foreach (var entry in Model.JournalEntries)
    {
        <tr class="table-primary">
            <td>
                <img src="~/images/@entry.EntryFile"
                     class="center-block"
                     height="100"
                     asp-append-version="true" />

            </td>
            <td>@entry.EntryDate.ToShortDateString()</td>
            <td>@entry.Entry</td>
            <td>@entry.FamilyMember.FirstName</td>



            <td class="table-primary">
                <a asp-action="Edit" asp-route-id="@entry.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@entry.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@entry.ID">Delete</a>
            </td>
        </tr>
    }
</table>
<h3>Pick a Family Member to just view their Journal Entries</h3>

<div class="row">
    <div class="col-large-7">
        <p class="bs-component">
            @foreach (var familymember in Model.FamilyMembers)
            {
                <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '@Url.Action("Individual","JournalEntry", new { id=familymember.ID })'">@familymember.FirstName</button>
            }
        </p>
    </div>
</div>

    @if (Model.JournalEntries.Count == 0)
    {
        <p>No entries yet!</p>
    }

