@model Pandemi.ViewModels.JournalEntriesViewModel
@using Pandemi.Models

@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<h1>Journal Entries</h1>

<p>
    <a asp-controller="JournalEntry" asp-action="Add">+ Add a Journal Entry</a>
</p>
<table class="table">

    <tr class="table-primary">
        <th>Pic</th>
        <th>Date</th>
        <th>Entry</th>
        <th>Author</th>
        <th></th>

    </tr>

    @foreach (var entry in Model.JournalEntries)
    {
        <tr class="table-primary">
            <td>
                <img src="~/images/@entry.EntryFile"
                     class="center-block"
                     height="100"
                     asp-append-version="true" />

            </td>
            <td>@entry.EntryDate.ToShortDateString()</td>
            <td>@entry.Entry</td>
            <td>@entry.FamilyMember.FirstName</td>


            <td class="table-primary">
                <a asp-action="Edit" asp-route-id="@entry.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@entry.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@entry.ID">Delete</a>
            </td>
        </tr>
    }
</table>