@model Pandemi.ViewModels.AccomplishmentsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
@{ var user = await UserManager.GetUserAsync(User);}

<h1 class="text-center text-uppercase text-success">@(user.FamilyName) Accomplishments</h1>
<h2 class="text-success">Way to Go!</h2>

<p>
    <a asp-action="Create">+ Add New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-success">

            <th>
                Date
            </th>
            <th>
                Accomplishment
            </th>

            <th>
                Notes
            </th>
            <th>
                Name            
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accomplishments)
        {
        <tr class="table-success">

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMember.FirstName)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<h3>Pick a Family Member to just view their accomplishments</h3>

<div class="row">
    <div class="col-large-7">
        <p class="bs-component">
            @foreach (var familyMember in Model.FamilyMembers)
            {
                <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '@Url.Action("Individual","Accomplishments", new { id=familyMember.ID })'">@familyMember.FirstName</button>
            }
        </p>
    </div>
</div>

