@using Pandemi.Models

@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "We Read Many Books!";
}
@{ var user = await UserManager.GetUserAsync(User);}
<h1> @(user.FamilyName) List</h1>
<h2>@(Model.FirstName) Book List </h2>


<p>
    <a asp-action="Create">Add a Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Notes
            </th>
            <th>
                Author
            </th>
            <th>
                Who read it?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.FamilyMember.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.ID">Edit</a> |
                    <!-- <a asp-action="Details" asp-route-id="@book.ID">Details</a> -->
                    <a asp-action="Delete" asp-route-id="@book.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
